.cover__overlay {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-decoration: none;
  color: #FFFFFF;
}

.cover__overlay::before {
  content: "";
  background-color: #2A2C2F;
  opacity: 0.3;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;

}

.cover__overlay:hover::before {
  opacity: 0.8;
  background-color: #2A2C2F;
  transition: opacity 0.2s linear;
}


