.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  column-gap: 32px;
  row-gap: 48px;
  margin-bottom: 80px;
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: repeat(1, min-content);
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: repeat(1, min-content);
    margin-bottom: 50px;
    row-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 73px;
    column-gap: 28px;
  }
}
